<p>
  (
  <%= @price_view.currency_pair %>
  <%= @price_view.current %>
  )
</p>

<%= form_tag max_threshold_path, method: :post do %>
  <%= text_field_tag :threshold %>
  <%= submit_tag "↑" %>
  <%= "(#{UserThreshold.max})" if UserThreshold.max %>
<% end %>

<%= form_tag min_threshold_path, method: :post do %>
  <%= text_field_tag :threshold %>
  <%= submit_tag "↓" %>
  <%= "(#{UserThreshold.min})" if UserThreshold.min %>
<% end %>

<p>
  Set thresholds to automatically update based on the custom price increment provided
  <%= form_tag staggered_threshold_path, method: :post do %>
    <%= hidden_field_tag :price_on_load, @price_view.current %>
    <%= text_field_tag :deviance %>
    <%= submit_tag IndexPresenter.new.staggered_thresholds_button_text %>
  <% end %>
</p>

<p>
  <%= form_tag "sleepiness", method: :post do %>
    <%= submit_tag IndexPresenter.new.sleep_button_text %>
  <% end %>
</p>

<p class="footer">
  Last updated: <%= @price_view.time_updated %><br />
  Clear all prices: <%= link_to "Clear", prices_path, method: :delete %><br />
</p>
