<p>
  USDT/ETH (
  <%= PriceView.current %>
  )
</p>

<%= form_tag max_threshold_path, method: :post do %>
  <%= text_field_tag :threshold %>
  <%= submit_tag "↑" %>
  <%= "(#{UserThreshold.max})" if UserThreshold.max %>
<% end %>

<%= form_tag min_threshold_path, method: :post do %>
  <%= text_field_tag :threshold %>
  <%= submit_tag "↓" %>
  <%= "(#{UserThreshold.min})" if UserThreshold.min %>
<% end %>
<%= form_tag "acceleration_threshold", method: :post do %>
  <%= text_field_tag :threshold %>
  <%= submit_tag "α" %>
  <%= "(#{UserThreshold.acceleration})" if UserThreshold.acceleration %>
<% end %>

<p>
  <%= form_tag "sleepiness", method: :post do %>
    <%= submit_tag IndexPresenter.new.sleep_button_text %>
  <% end %>
</p>
